<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Comment</title>
    <link href="../static/styles_old.css" th:href="@{/styles_old.css}" rel="stylesheet"/>
</head>
<body>
<h2>New Comment</h2>
<form th:action="@{/posts/{postId}/comments/new/(postId=${post.getPostId()})}"  th:object="${comment}" method="post">
    <label th:text="#{comment.label.comment}">Comment</label>
    <br/>
    <input type="hidden" name="postId" th:value="${comment.getPostId()}">
    <textarea rows="4" cols="50" th:field="*{comment}" placeholder="Add your comment here"></textarea>
    <label class="error" th:errors="*{comment}">Comment error placeholder</label>
    <br/><br/>
    <input type="submit" value="Save" />
</form>
</body>
</html>


-->
