<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Comments</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>

</head>
<body>
<div th:if="${comments.isEmpty()}">
    <h2 th:text="#{comment.title.empty}">No Comments</h2>
</div>
<div th:unless="${comments.isEmpty()}">
    <h2 th:text="#{comment.title}">All Comments</h2>
<div class="table">
    <div class="header">
        <div class="cellSingleUser" th:text="#{comment.label.comment}">Comment</div>
        <div class="cellSingleUser" th:text="#{comment.label.createdBy}">Created by</div>
        <div class="cellSingleUser" th:text="#{comment.label.createdDate}">Created on</div>
<!--        <div class="cell" th:text="#{comment.label.post}">Created on</div>-->
    </div>
    <div class="row" th:each="comment : ${comments}">
        <div class="cellSingleUser">
            <a href="#" th:href="@{/comments/{id}(id=${comment.getCommentId()})}" th:text="${comment.getComment()}">Content about the comment</a>
        </div>
        <div class="cellSingleUser">
            <a th:href="@{/users/{userId}(userId=${comment.getCreatedByUser().getId()})}" th:text="${comment.getCreatedByUser().getUsername()}">Created by</a>
        </div>
        <div class="cellSingleUser" th:text="${comment.getCreateTime()}">Created on</div>
    </div>
</div>
</div>
</body>
</html>