<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Comment</title>
</head>
<body>
<ul>
    <li><h3><a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a></h3></li>
</ul>
<ul>
    <li><h3><a href="#" th:href="@{/posts}" th:text="#{navigation.posts}">See all posts</a></h3></li>

</ul>

<h2 th:text="${comment.getComment()}">Comment</h2>


<p th:if="${commentLikes != null or commentDisLikes != null}">
    <span th:if="${commentLikes != null}">
        Likes: <span th:text="${commentLikes}"></span>
    </span>
    <span th:if="${commentDisLikes != null}">
        Dislikes: <span th:text="${commentDisLikes}"></span>
    </span>
</p>

<div th:if="${commentLikes != null or commentDisLikes != null}">
    <a href="/comments/{commentId}/seeVotes" th:href="@{'/comments/' + ${comment.getCommentId()} + '/seeVotes'}">See votes</a>
</div>

&lt;!&ndash;<h3>
    <a th:if="${isAuthenticated}" th:href="@{'/comments/' + ${comment.getCommentId()} + '/update'}">Update</a>
    <a th:if="${isAuthenticated}" th:href="@{'/comments/' + ${comment.getCommentId()} + '/delete'}">Delete</a>
</h3>&ndash;&gt;

</body>
</html>
-->
