<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Comments</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>

</head>
<body>
<div class="table">
    <div class="header">
        <div class="cell" th:text="#{comment.label.comment}">Comment</div>
        <div class="cell" th:text="#{comment.label.createdBy}">Created by</div>
        <div class="cell" th:text="#{comment.label.createdDate}">Created on</div>
    </div>
    <div class="row" th:each="comment : ${comments}">
<!--        <div class="cell">-->
<!--            <a href="#" th:href="@{/comments/{id}(id=${comment.getCommentId()})}" th:text="${comment.getComment()}">Content about the comment</a>-->
<!--        </div>-->
        <div class="cell" th:text="${comment.getComment()}">Content</div>
        <div class="cell">
            <a th:href="@{/users/{userId}(userId=${comment.getCreatedByUser().getId()})}" th:text="${comment.getCreatedByUser().getUsername()}">Created by</a>
        </div>
        <div class="cell" th:text="${comment.getCreateTime()}">Created on</div>
    </div>
</div>
</div>
</body>
</html>