<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body style="background-image: url('../assets/img/accesdenied.jpg'); background-size: cover;">
<div style="margin-left: 50%; transform: translateX(-75%);">
<h2 th:text="#{post.edit}">Edit Post</h2>

<form th:replace="post-new.html :: post-form"></form>
</div>
</body>
</html>