<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
    <link href="../static/css/allposts.css.css" th:href="@{/css/allposts.css}" rel="stylesheet" />
</head>
<body>
<div class="container_but">
    <div style="position: absolute; top: 20px; right: 20px;">
        <a href="/" th:text="#{navigation.home}" style="background-color: transparent; padding: 10px; color: white; text-decoration: none; display: inline-block;">Home</a>
        <a href="#" th:href="@{/posts/new}" th:text="#{navigation.create-post}" style="background-color: transparent; padding: 10px; color: white; text-decoration: none; display: inline-block;">Create a new post</a>

    </div>
</div>

    <div class="filter-banner-posts">
        <form class="form-posts" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${filter}" method="get">
            <input type="text" placeholder="Title" th:field="*{title}" />
            <input type="text" placeholder="Username" th:field="*{username}" />
            <input type="text" placeholder="Tag" th:field="*{tag}" />


            <select th:field="*{sortBy}">
                <option value="">Default Sort</option>
                <option value="localDate">Created Time</option>
                <option value="lastTen">Last Ten</option>
                <option value="tagId">Tag</option>
                <option value="mostRecently">Most Recently</option>
                <option value="mostComment">Most Comment</option>
                <option value="mostLiked">Most Liked</option>
            </select>

            <select th:field="*{sortOrder}">
                <option value="asc">Asc</option>
                <option value="desc">Desc</option>
            </select>

            <input type="submit" value="Search">
        </form>

        <form action="#" th:action="@{/posts}" method="get">
            <input type="submit" value="Reset">
        </form>
    </div>

        <div class="container">
            <table>
                <thead >
               <!-- <tr >
                    <div class="cellSingleUser">Title</div>
                    <div class="cellSingleUser">Content</div>
                    <div class="cellSingleUser">Tag</div>
                    <div class="cellSingleUser">Creator</div>
                    <div class="cellSingleUser">Created Date</div>
                </tr>-->
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">

                    <td> <a href="#" th:href="@{/posts/{id}(id=${post.getPostId()})}" th:text="${post.getTitle()}">Post</a></td>
                    <td><div class="cellSingleUser" th:text="${post.getContent()}">Content</div></td>
                    <td><div class="cellSingleUser" th:text="${post.getTag().getType()}">Tag</div></td>
                    <td> <a th:href="@{/users/{userId}(userId=${post.getCreatedBy().getId()})}" th:text="${post.getCreatedBy().getUsername()}">Creator</a></td>
                    <td><div  class="cellSingleUser" th:text="${post.getCreateTime()}">Created Date</div></td>
                </tr>
                </tbody>
            </table>
        </div>

<!--
        <div class="table">
            <div class="post-column">
                <div class="cellSingleUser">Title</div>
                <div class="cellSingleUser">Content</div>
                <div class="cellSingleUser">Tag</div>
                <div class="cellSingleUser">Creator</div>
                <div class="cellSingleUser">Created Date</div>
            </div>
            <div class="cellSingleUser1" th:each="post : ${posts}">
                <div class="post-row">
                    <div class="cellSingleUser">
                        <a href="#" th:href="@{/posts/{id}(id=${post.getPostId()})}" th:text="${post.getTitle()}">Post</a>
                    </div>
                    <div class="cellSingleUser" th:text="${post.getContent()}">Content</div>
                    <div class="cellSingleUser" th:text="${post.getTag().getType()}">Tag</div>
                    <div class="cellSingleUser">
                        <a th:href="@{/users/{userId}(userId=${post.getCreatedBy().getId()})}" th:text="${post.getCreatedBy().getUsername()}">Creator</a>
                    </div>
                    <div class="cellSingleUser" th:text="${post.getCreateTime()}">Created Date</div>
                </div>
            </div>
        </div>-->
       <!-- </div>-->
<!--    </div>
</div>-->
</body>
</html>
