<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Post</title>
</head>
<body>
<ul>
    <li><h3><a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a></h3></li>
</ul>
<ul>
    <li><h3><a href="#" th:href="@{/posts}" th:text="#{navigation.posts}">See all posts</a></h3></li>

</ul>
<h2 th:text="${post.getTitle()}">Post Title</h2>
<h2 th:text="${post.getContent()}">Post Content</h2>
<h2>
    <span th:text="'#' + ${post.getTag().getType()}"></span>
</h2>
<h2>Comments:</h2>
<ul>
    <li th:each="comment : ${post.getComments()}">
        <p th:text="${comment.getComment()}"></p>
        <p>
            <span th:text="'Created by:'+ ${comment.getCreatedByUser().getUsername()}"></span>
        </p>
    </li>
</ul>
<p th:text="'Likes: ' + ${likes} + ', Dislikes: ' + ${disLikes}"></p>
<div>
    <a href="/posts/{id}/seeVotes" th:href="@{'/posts/' + ${post.getPostId()} + '/seeVotes'}">See votes</a>
    <h3>
        <a th:if="${isAuthenticated}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
        <a th:if="${isAuthenticated}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
    </h3>
</div>

<h3>
    <a href="#" th:href="@{/posts/{id}/update(id=${post.getPostId()})}">Update</a>
    <a href="#" th:href="@{/posts/{id}/delete(id=${post.getPostId()})}">Delete</a>

</h3>

</div>
</body>
</html>