<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single User</title>
</head>
<body>
<h2><span th:text="'Username: ' + ${user.getUsername()}">Username</span></h2>
<h2><span th:text="'Firstname: ' + ${user.getFirstName()}">FirstName</span></h2>
<h2><span th:text="'LastName: ' + ${user.getLastName()}">LastName</span></h2>
<h2><span th:text="'Email: ' + ${user.getEmail()}">Email</span></h2>

</div>

<h3>
    <a th:if="${isAuthenticated}" href="#" th:href="@{/users/{id}/block(id=${user.getId()})}" th:object="${user}"
       methods="get">Block</a>
    <a th:if="${isAuthenticated}" href="#" th:href="@{/users/{id}/unblock(id=${user.getId()})}" th:object="${user}"
       methods="get">Unblock</a>
    <a th:if="${isAuthenticated}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/makeadmin}">Make Admin</a>
    <a th:if="${isAuthenticated}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/demoteadmin}">Demote
        Admin</a>
</h3>

</div>
</body>
</html>