<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Tags</title>
    <link href="../static/css/updateComment.css" th:href="@{/css/updateComment.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a></h3></li></a></li>

            </ul>
        </div>
    </div>
</nav>
<div th:if="${tags.isEmpty()}">
    <h2 th:text="#{tags.title.empty}">No Tags</h2>
</div>
<div th:unless="${tags.isEmpty()}">
    <h2 th:text="#{tags.title}">All Posts</h2>
  <div class="table">
       <div class="header">
         <div class="cellSingleUser" th:text="#{tags.label.type}">Type</div>
       </div>
    <div class="row" th:each="tag : ${tags}">
      <div class="cellSingleUser">
        <a href="#" th:href="@{/tags/{id}(id=${tag.getTagTypeId()})}" th:text="${tag.getType()}">Tag</a>
  </div>
</div>
  </div>
</div>
</body>
</html>